<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="trabajo_final_reloaded.Properties.Settings.proyectoConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\GGM7\Documents\proyecto.accdb"
            providerName="System.Data.OleDb" />
        <add name="trabajo_final_reloaded.Properties.Settings.proyectoConnectionString1"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\proyecto.accdb"
            providerName="System.Data.OleDb" />
        <add name="trabajo_final_reloaded.Properties.Settings.proyecto_finalConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\proyecto_final.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>